Call Manager automation.json
{
    "name": "ZERON CALL MANAGER",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appAVsJB3kYxqU9g5",
                "table": "tblL5IHGSC5WQozZG",
                "config": {
                    "labelField": "Phone Number",
                    "triggerField": "Last Modified"
                },
                "formula": "",
                "maxRecords": 1,
                "__IMTCONN__": 3626884,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "GET DETAILS"
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "ZERON CALL MANAGER"
                        },
                        "table": {
                            "label": "Contacts"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Phone Number"
                                },
                                "triggerField": {
                                    "label": "Last Modified"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Contact Name",
                        "type": "text",
                        "label": "Contact Name"
                    },
                    {
                        "name": "Phone Number",
                        "type": "text",
                        "label": "Phone Number"
                    },
                    {
                        "name": "Company Name",
                        "type": "text",
                        "label": "Company Name"
                    },
                    {
                        "name": "Call Status",
                        "type": "text",
                        "label": "Call Status"
                    },
                    {
                        "name": "Date Added",
                        "time": false,
                        "type": "date",
                        "label": "Date Added"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Calls",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Calls"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "bland:sendACall",
            "version": 1,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "messages": [
                        {
                            "category": "setup",
                            "severity": "error",
                            "message": "Value must not be empty."
                        }
                    ]
                }
            }
        },
        {
            "id": 4,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{3.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "GET DATA",
                    "messages": [
                        {
                            "category": "reference",
                            "severity": "error",
                            "message": "Module references non-existing module '3'."
                        }
                    ]
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "messages": [
                        {
                            "category": "setup",
                            "severity": "error",
                            "message": "Value must not be empty."
                        }
                    ]
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}